<html>
<head>
  <title>nafsdm webinterface - slavestatus</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .navbar {
  margin-bottom: 0;
  border-radius: 0;
  }

  .row.content {height: 146%}

  .sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
  }

  footer {
  background-color: #333;
  color: white;
  padding: 15px;
  }

  @media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
  }
  </style>
</head>
<body>
  <!-- reload page -->
  <script>
    function reloadPage() {
      location.reload();
    }
  </script>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">nafsdm</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/domains">Domains</a></li>
          <li class="active"><a href="/slavestatus">Slavestatus</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <h4>Actions</h4>
        <a href="/api/slaveFlush"><button type="button" class="btn btn-primary btn-sm">Flush slavestatus</button></a> <button type="button" class="btn btn-primary btn-sm" onclick="reloadPage()">Reload page</button>
      </div>
      <div class="col-sm-8 text-left">
        <h1>nafsdm webinterface - slavestatus</h1>
        <!-- if flags -->
        {% if flushSuccess %}
        <p><font color="green">Successfully flushed slavestatus!</font> <a href="/slavestatus"><button type="button" class="btn btn-primary btn-sm">Dismiss</button></a></p>
        {% endif %}

        {% if fail %}
        <font color="red"><p>Failure during flush process!</p></font>
        {% endif %}
        <!-- end if flags -->
        <hr>
        <h3>Slavestatus</h1>
        <!-- Slavestatus list table -->
        <table class="table table-bordered">
          <tr>
            <td>Hostname</td>
            <td>Latest Connection</td>
            <td>Latest Connection Date</td>
            <td>Interval</td>
          </tr>
        {% for slave in slaves %}
          {% if slave[4] %}
          <tr id="{{ slave[0] }}">
            <td>[<font color="red"><b>!</b></font>] {{ slave[0] }}</td><!-- Hostname -->
            <td><font color="red">{{ slave[1] }}</font></td><!-- Latest Connection -->
            <td>{{ slave[2] }}</td><!-- Latest Connection Date -->
            <td>{{ slave[3] }}</td><!-- Interval -->
          </tr>
          {% else %}
          <tr id="{{ slave[0] }}">
            <td>{{ slave[0] }}</td><!-- Hostname -->
            <td><font color="green">{{ slave[1] }}</font></td><!-- Latest Connection -->
            <td>{{ slave[2] }}</td><!-- Latest Connection Date -->
            <td>{{ slave[3] }}</td><!-- Interval -->
          </tr>
          {% endif %}
        {% endfor %}
        </table>
        <!-- end Slavestatus list table -->
      </div>

    </div>
  </div>

  <footer class="container-fluid text-center">
    <p>Powered by Python and Flask - running version {{ version }}. Page generated at {{ date }}.</p>
  </footer>
</body>
</html>
